.navigation {
  width: 100vw;
  min-height: 100vh;
  padding: 16px;
}
ul {
  list-style: none;
}
a {
  color: #fefefe!important;
  text-decoration: none;
}
a:hover, a.router-link-exact-active {
  text-decoration: underline;
}
li {
  margin-bottom: 16px;
  text-transform: uppercase;
  color: #fefefe!important
}